/* .wrapper {
   display: flex;
   height: 100vh;
   width: 100vw;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;

   h1 {
      text-align: center;
      font-weight: bold;
   
   }

   button {
      padding: 5px 10px;
   }

   .accordion {
      width: 80%;

      .item {
         background-color: lightseagreen;
         margin-bottom: 20px;
         padding: 10px 20px;
      
         .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
         
         }
         
         .content {
            height: auto;
         
         }

      }
      
   }

} */
